*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 10px;
    background-color: #e9e9e9;
}
h1, h2, h3, h4, h5, h6, button{
    font-family: 'Exo 2', sans-serif;
}
span,p ,label, input{
    font-family: 'Poppins', sans-serif;
}
.sentence-generator-container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.sentence-generator-container .title-holder{
    margin: 50px auto 40px;
    text-align: center;
}
.sentence-generator-container .title-holder h1{
    font-size: 48px;
    line-height: 52px;
    letter-spacing: 0.2px;
    margin-bottom: 16px;
    color: #222222;
}
.sentence-generator-container .title-holder span{
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: #222222;
}
.sentence-generator-container .sentence-content-wrapper{
    max-width: 45vw;
    margin: 0 auto;
    border-top: 1px solid #222;
    padding-top: 40px;
}
.sentence-generator-container .show-word-wrapper,
.sentence-generator-container .sentence-content-wrapper .input-fields-wrapper{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px auto 10px;
}
.sentence-generator-container .sentence-content-wrapper .input-fields-wrapper > div{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33.33%;
}
.sentence-generator-container .sentence-content-wrapper .generator-wrapper .note{
    margin-top: 20px;
}
.sentence-generator-container .sentence-content-wrapper .generator-wrapper .generated-sentence{
    margin: 20px 0 8px;
    min-height: 68px;
    border-radius: 8px;
    border: 1px solid #222;
    padding: 10px;
    font-size: 30px;
}
.sentence-generator-container .generator-wrapper .generated-sentence span{
    opacity: 0;
}
.sentence-generator-container .input-fields-wrapper > div label{
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 8px;
}
.sentence-generator-container .input-fields-wrapper > div input{
    border: 1px solid #222222;
    border-radius:4px;
    padding: 4px 5px;
    font-size: 12px;
}
.sentence-generator-container .sentence-content-wrapper > button{
    background: #222;
    border: 0;
    border-radius: 8px;
    color: #fff;
    width: 100%;
    padding: 5px 0;
    margin: 8px auto 20px;
    font-size: 16px;
    cursor: pointer;
}
.sentence-generator-container .sentence-content-wrapper > button:hover{
    background: #383838;
}
.sentence-generator-container .sentence-content-wrapper > button.btn-generate{
    margin-bottom: 50px!important;
    padding: 10px!important;
}
.sentence-generator-container .sentence-content-wrapper > button.btn-add{
    margin-bottom: 10px;
}
.sentence-generator-container .show-word-wrapper > div{
    display: flex;
    flex-direction: column;
    width: 33.33%;
}
.sentence-generator-container .show-word-wrapper > div h4{
    font-size: 16px;
}
.sentence-generator-container .show-word-wrapper > div span{
    font-size: 14px;
}
.sentence-generator-container .added-words-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sentence-generator-container .added-words-title{
    font-size: 16px;
}
.sentence-generator-container .added-words-wrapper #addedWords span{
    font-size: 16px;
}